{% if site.footer_fixed %}
    <footer class="fixed-bottom bg-utsablue">
      <div class="container mt-0">
	<font color="#ffffff">
          &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
          {%- if site.impressum_path -%}
          <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
          {%- endif -%}
          {%- if site.last_updated -%}
          Last updated: {{ "now" | date: '%B %d, %Y' }}.
          {%- endif %}
	</font>
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5 bg-utsablue">
      <div class="container">
	<font color="#ffffff">
          &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
          {%- if site.impressum_path -%}
          <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
          {%- endif -%}
          {%- if site.last_updated -%}
          Last updated: {{ "now" | date: '%B %d, %Y' }}.
          {%- endif %}
	</font>
      </div>
    </footer>
    {%- endif %}

